body {
  margin: 0;
  font-family: "Courier New", Courier, nonospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89deg, rgb(231, 120, 120) 0%, rgb(77, 117, 77) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}
